    <!-- myapp/templates/myapp/recommendation.html -->
    {% extends 'base_generic.html' %}

    {% block content %}
    <h1>为您推荐的农产品</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">

                        <p class="card-text">{{ product.description|truncatewords:30 }}</p>
                        <p class="card-text">价格: {{ product.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- 添加分隔线 -->
    <hr>
    {% endblock %}