<!-- base_generic.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}农产品推网{% endblock %}</title>
</head>
<body>
    <p>欢迎来到农产品推荐网</p>
    <nav>
        <!-- 其他导航元素 -->
                    <a href="{% url 'register' %}">注册</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">登录</a>
        {% else %}
            <a href="{% url 'login' %}">登录</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>